OS Files
.DS_Score
Thumbs.db

Jupyter Notebook
.ipnyb_checkpoints/
Experiments.ipynb
experiments(2).ipynb

Virtual Environments
.venv/
.env/
env/

Python Cache
__pycache__/
*.py[cod]
*$py.class

Data
*.xlsx